<ion-view hide-nav-bar=true>
  <ion-content scroll=false >
    <!--sets up the main div where the camera image will reside
    is swipable to bring to bring to pending(swiperight) and results(swipeleft) -->
    <div class="polaroid-container">
      <div class="polaroid-pic"
           on-swipe-right="swiping('right')"
           on-swipe-left="swiping('left')">
        <img id="myImage">
      </div>
      <!-- 'Top' footer which mimics bottom of a polaroid and 
      contains the text to be sent with a picture-->
      <div class="bar bar-footer bar-light polaroid-border">
        <label class="item item-input polaroid-text">
          <input type="text" placeholder="Touch to add message..."
                 ng-model="homeText"
                 ng-change="addText(homeText)"
                 maxlength="30">
        </label>
      </div>
    </div>
    <!-- 'Top' footer which mimics bottom of a polaroid and 
    contains the text to be sent with a picture-->
    
  </ion-content>
  <!-- Actual Footer which contains an icon for taking pictures and 
  contains upload and send buttons -->
  <ion-footer-bar class="bar-dark">
    <button class="button button-stable button-calm button-outline"
            ng-click="getPhoto('uploadPicture')">
      Upload
    </button>
    <h1 class="title"><div class="ion-ios7-camera shutter" ng-click="getPhoto('takePicture')"></div></h1>
    <button class="button button-stable button-balanced button-outline"
            ng-click="send()">
      Send
    </button>
  </ion-footer-bar>
</ion-view>
