<ion-view hide-nav-bar=true>
  <ion-content scroll=false class="votally-back-cream">

    <!-- header with logo and updates buttons-->
    <div class="bar bar-header home-header votally-back-cream">
      <button class="button button-clear" ng-click="routeToAddFriends()" ng-show="hasFriendRequest">
        <span class="badge votally-back-green">
          <i class="ion-person-add"></i>
        </span>
      </button>
      <div class="title">
        <!-- logo here -->
      </div>
      <button class="button button-clear" ng-click="routeToResults()" ng-show="resultCompleteCount">
        <span class="badge votally-back-green">
          <i class="ion-paper-airplane"></i>
        </span>
      </button>
      <button class="button button-clear pull-right" ng-click="routeToPending()" ng-show="pendingCount">
        Pending 
        <span class="badge badge-calm">
          {{pendingCount}}
        </span>
      </button>
    </div>

    <!--sets up the polaroid div where the camera image will reside
    is swipable to pending(swiperight) and results(swipeleft) -->
    <div class="polaroid-container" on-swipe-right="swiping('right')" on-swipe-left="swiping('left')">
      <div class="home-polaroid">
        <div>
          <img id="myImage">
          <label class="item item-input polaroid-text">
            <input type="text" placeholder="Touch to add message..."
                   ng-model="homeText"
                   ng-change="addText(homeText)"
                   maxlength="30">
          </label>
        </div>
      </div>
    </div>

    <!-- Footer which contains an icon for taking pictures and 
    contains upload and send buttons -->
    <div class="bar bar-footer votally-back-cream">
      <button class="button button-outline button-calm"
              ng-click="getPhoto('uploadPicture')">
        Upload
      </button>
      <div class="title">
        <button class="button button-clear">
        <div class="ion-ios7-camera shutter" ng-click="getPhoto('takePicture')"></div>
        </button>
      </div>
      <button class="button button-balanced button-outline"
              ng-click="send()">
        Send
      </button>
    </div>

  </ion-content>
</ion-view>
