<ion-view>
	<ion-nav-bar>
	  	<h1 class="title">
	  		<i class="icon ion-ionic"></i>
	  		Signup
	  	</h1>
	  </ion-nav-bar>
	<ion-content>
		<div class="list">
		  <label class="item item-input">
		  	<i class="icon ion-person"></i>
		    <span class="input-label">Username</span>
		    <input ng-model="usernameInput" type="text">
		  </label>
		  <label class="item item-input">
		  	<i class="icon ion-key"></i>
		    <span class="input-label">Password</span>
		    <input ng-model="passwordInput" type="password">
		  </label>
	    <label class="item">
	  	  <button class="button button-block button-calm" ng-click="signUp(usernameInput, passwordInput)">
	  	  	signup
	  	  </button>
	    </label>
		</div>

	</ion-content>
</ion-view>