<ion-view hide-nav-bar=true>
  <ion-content class="votally-back-cream">
    <div class='signup-logo'>
      <!-- replace with the logo -->
      <img src="http://i1.kym-cdn.com/entries/icons/original/000/011/365/Grumpy-Cat.jpg">
    </div>
    <form name="signupForm" class="signup-form" novalidate ng-submit="signUp(usernameInput, passwordInput, emailInput)">
      <div class="list">
<!-- Username input and validation -->
        <div class="error-container" ng-show="showSignupError">
          <small class="error">
            {{signupError}}
          </small>
        </div>
        <label class="item item-input">
          <i class="icon ion-person"></i>
          <input ng-model="usernameInput" name="username" type="text" placeholder=" Username" ng-minlength=6 ng-maxlength=16 required >
        </label>
          <div class="error-container" ng-show="signupForm.username.$dirty && signupForm.username.$invalid">
            <small class="error" ng-show="signupForm.username.$error.required">
              Please enter a username
            </small>
            <small class="error" ng-show="signupForm.username.$error.minlength">
              Must contain at least 6 characters
            </small>
            <small class="error" ng-show="signupForm.username.$error.maxlength">
              Exceeds the 16 characters limit
            </small>
          </div>
<!-- Password input and validation -->
        <label class="item item-input">
          <i class="icon ion-key"></i>
          <input ng-model="passwordInput" name="password" type="password" placeholder=" Password" ng-minlength=6 ng-maxlength=16 required>
        </label>
          <div class="error-container" ng-show="signupForm.password.$dirty && signupForm.password.$invalid">
            <small class="error" ng-show="signupForm.password.$error.required">
              Please enter a password
            </small>
            <small class="error" ng-show="signupForm.password.$error.minlength">
              Must contain at least 6 characters
            </small>
            <small class="error" ng-show="signupForm.password.$error.maxlength">
              Exceeds the 16 characters limit
            </small>
          </div>
<!-- Confirm Password input and validation -->
        <label class="item item-input">
          <i class="icon ion-key"></i>
          <input ng-model="confirmInput" name="confirmed" type="password" placeholder=" Confirm Password" ng-minlength=6 ng-maxlength=16 
            compare-input="passwordInput" required>
        </label>
          <div class="error-container" ng-show="signupForm.confirmed.$dirty && signupForm.confirmed.$invalid">
            <small class="error" ng-show="signupForm.confirmed.$error.required">
              Please confirm your password
            </small>
            <small class="error" ng-show="signupForm.confirmed.$error.minlength">
              Must contain at least 6 characters
            </small>
            <small class="error" ng-show="signupForm.confirmed.$error.maxlength">
              Exceeds the 16 characters limit
            </small>
            <small class="error" ng-show="signupForm.confirmed.$error.compareInput">
              Password does not match
            </small>
          </div>
<!-- Email input and validation -->
        <label class="item item-input">
          <i class="icon ion-email"></i>
          <input ng-model="emailInput" name="email" type="email" placeholder=" Email" required>
        </label>
          <div class="error-container" ng-show="signupForm.email.$dirty && signupForm.email.$invalid">
            <small class="error" ng-show="signupForm.email.$error.required">
              Please enter your email.
            </small>
            <small class="error" ng-show="signupForm.email.$error.email">
              Invalid email
            </small>
          </div>
        <label class="item">
          <button class="button button-block button-calm" type="submit">
            signup
          </button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
