<ion-view hide-nav-bar=true>
	<ion-content>
		<div class="pendingContainer" on-swipe-up="sendVote(0)">
			<div class="senderName"><span>{{sender}}</span></div>
			<div class="polaroid-pic pendingContent" >
				<img set-image image="pictureUrl">
			</div>
			<div class="bar-footer">
				<div class="polaroid-text"><span>{{topic}}</span></div>
			</div>
		</div><!-- ================ CONTAINER-END ================-->
	</ion-content>
			
	<!-- ================ FOTTER ================-->
	<ion-footer-bar class="bar bar-footer bar-dark">
		<!-- ================ BUTTONS for NO/SKIP/YES ================-->
		<button class="button button-assertive" ng-click="sendVote(-1)">
			<i class="icon ion-ios7-paw vote-no"></i>NO
		</button>
		<h1 class="title">swipe up to skip</h1>
		<button class="button button-balanced pull-right" ng-click="sendVote(1)">
			<i class="icon ion-ios7-paw vote-yes"></i>YES
		</button><!-- ================ BUTTONS for NO/SKIP/YES -END ================-->
	</ion-footer-bar><!-- ================ FOTTER-END ================-->
</ion-view>
