/* Empty. Add your own CSS if you like */

.shutter{
  font-size: 40px;
  color: #aaa;
}

.polaroid-container{
  background-color: #fff;
  height: 100%;
  padding: 8px;
}

.polaroid-border{
  border: none;
  padding: 8px;
}

.polaroid-pic{
  background-color: #000;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.polaroid-pic > img{
  width: 100%;
}

.polaroid-text{
  width: 100%;
  border: none;
  padding: 4px 0 4px 6px;
}

*:focus{
    outline-style: none;
    outline: none;
}

#myImage{
  width: 100%;
}

/*============FOR PENDING VIEW TEMPLATE=============*/

.senderName{
  text-align: center;
  padding: 10px;
  height: 34px;
  font-size: 30px;
}

.pendingContent{
  background-color: white;
}

.polaroid-text{
  text-align: center;
  font-size: 24px;

}

/*============FOR RECEIVERS VIEW TEMPLATE=============*/
.selected {
  background-color: #000;
  color: #fff;
}

/*============FOR SIGNUP VIEW TEMPLATE=============*/
.input-label {
  padding-left: 5px;
}

.error {
  color: red;
  padding-left: 15px;
}

/*============FOR RESULTS VIEW TEMPLATE=============*/

.topic {
  display: block;
}
.pictureframe{
  display: inline;
  float: left;
}
.votes {
  display: inline;
  float: left;
}
