/* Empty. Add your own CSS if you like */

.shutter{
  font-size: 40px;
  color: #aaa;
}

.polaroid-container{
  background-color: #fff;
  height: 100%;
  padding: 8px;
}

.polaroid-border{
  border: none;
  padding: 8px;
}

.polaroid-pic{
  background-color: #000;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.polaroid-pic > img{
  width: 100%;
}

.polaroid-text{
  width: 100%;
  border: none;
  padding: 4px 0 4px 6px;
}

*:focus{
    outline-style: none;
    outline: none;
}

#myImage{
  width: 100%;
}

/*============FOR PENDING VIEW TEMPLATE=============*/

.senderName{
  text-align: center;
  padding: 10px;
  height: 34px;
  font-size: 30px;
}

.pendingContent{
  background-color: white;
}

.polaroid-text{
  text-align: center;
  font-size: 24px;

}

/*============FOR RECEIVERS VIEW TEMPLATE=============*/
.selected {
  background-color: #000;
  color: #fff;
}

/*============FOR SIGNUP VIEW TEMPLATE=============*/
.input-label {
  padding-left: 5px;
}

.error {
  color: red;
  padding-left: 15px;
}

/*============FOR RESULTS VIEW TEMPLATE=============*/

.bargraph {
    list-style: none;
    padding-top: 20px;
    /*width:560px;*/
}

ul.bargraph li {
    height: 35px;
    color: white;
    text-align: left;
    font-style: italic;
    font-weight:bolder;
    font-size: 14px;
    line-height: 35px;
    padding: 0px 20px;
    margin-bottom: 5px;
}
 
ul.bargraph li.redpink {
background: #EF465B;
/*width:95%;*/
}

ul.bargraph li.greenbright {
background: #36B669;
/*width:40%;*/
}

.centertext {
  text-align: center;
}

.lefttext {
  text-align: left;
}
.pictureframe {
  display: block;
  margin-left: auto;
  margin-right: auto
}

/*polaroids css*/



a img {
  border: 1px solid #BBB;
  padding: 2px;
  margin: 10px 20px 10px 0;
  vertical-align: top;
}

a img.last {
  margin-right: 0;  
}

.polaroid_box {
  margin:20px 0 0px 25px;
}

ul.polaroids {
  /*width: 95%;*/
  margin: 0px 0px 18px 0px;
  float: left;
  list-style: none;
  padding: 20px;
}
.polaroids li {
  display: block;
}
.polaroids a {
  background: #fff;
  display: block;
  float: left;
  margin: 0 0 27px 30px;
  width: auto;
  padding: 10px 10px 15px;
  text-align: center;
  font-family: "Marker Felt", sans-serif;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -webkit-transform: rotate(-2deg);
  -webkit-transition: -webkit-transform .15s linear;
  -moz-transform: rotate(-2deg);
}
.polaroids img {
  display: block;
  height: 110px;
  width: 120px;
  margin: 10px 10px 10px 0px;
}
/*.polaroids img.small {
  height: 100px;
  width: 100px;
}*/



.polaroids a:after {
  content: attr(title);
}

.polaroids li:nth-child(even) a {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}
.polaroids li:nth-child(3n) a {
  -webkit-transform: none;
  position: relative;
  top: -5px;
  -moz-transform: none;
}
.polaroids li:nth-child(5n) a {
  -webkit-transform: rotate(5deg);
  position: relative;
  right: 5px;
  -moz-transform: rotate(5deg);
}
.polaroids li:nth-child(8n) a {
  position: relative;
  right: 5px;
  top: 8px;
}
.polaroids li:nth-child(11n) a {
  position: relative;
  left: -5px;
  top: 3px;
}

.polaroids li a:hover,
.polaroids a:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  position: relative;
  z-index: 5;
}

