/* Empty. Add your own CSS if you like */
*{
  font-family: 'Josefin Sans', sans-serif;
  color: #35404F;
  font-weight: bold;
}

.votally-red{
  color: #DB3340;
}

.votally-green{
  color: #1FDA9A;
}

.votally-blue{
  color: #35404F;
}

.votally-cream{
  color: #F7EAC8;
}

.votally-back-red{
  background-color: #DB3340;
}

.votally-back-green{
  background-color: #1FDA9A;
}

.votally-back-blue{
  background-color: #35404F;
}

.votally-back-cream{
  background-color: #F7EAC8;
}

.bar-footer{
  height: 55px;
}


.shutter{
  font-size: 40px;
  color: #aaa;
}

.polaroid-container{
  background-color: #fff;
  height: 100%;
  padding: 8px;
}

.polaroid-border{
  border: none;
  padding: 8px;
}

.polaroid-pic{
  background-color: #000;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.polaroid-pic > img{
  width: 100%;
}

.polaroid-text{
  width: 100%;
  border: none;
  padding: 4px 0 4px 6px;
}

*:focus{
    outline-style: none;
    outline: none;
}

#myImage{
  width: 100%;
}

/*============FOR PENDING VIEW TEMPLATE=============*/

.senderName{
  text-align: center;
  margin: 20px;
  padding: 10px;
  height: 34px;
  font-size: 30px;
}

.pendigPolaroid{
  margin: 30px;
}

#pending-skip{
  font-family: 'Josefin Sans', sans-serif;
}

.pending-button{
  font-family: 'Josefin Sans', sans-serif !important;
  /*color: #35404F !important;*/
  font-weight: bold !important;
}

.no-button{
  color: #DB3340 !important;
}

.yes-button{
  color: #1FDA9A !important;
}
/*============FOR RECEIVERS VIEW TEMPLATE=============*/
.selected {
  background-color: #000;
  color: #fff;
}

/*============FOR SIGNUP VIEW TEMPLATE=============*/
.input-label {
  padding-left: 5px;
}

.error {
  color: red;
  padding-left: 15px;
}

/*============FOR RESULTS VIEW TEMPLATE=============*/

.topic {
  display: block;
}
.pictureframe{
  display: inline;
  float: left;
}
.votes {
  display: inline;
  float: left;
}

/*============FOR SETTINGS VIEW=============*/

.highlight {
  background-color: #888;
  color: #fff;
  font-weight: bold;
}
.settings {
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 30px;
  background-color: #f5f5f5;
  color: #222;
  font-weight: bold;
}

/*============FOR ADD FRIENDS VIEW=============*/
.friend-request {
  padding-right: 12px;
}


/*.inline-button {
  float: left;
  clear: both;
}*/
