/* Empty. Add your own CSS if you like */
*{
  font-family: 'Josefin Sans', sans-serif;
  color: #35404F;
  font-weight: bold;
}

.votally-red{
  color: #DB3340;
}

.votally-green{
  color: #1FDA9A;
}

.votally-blue{
  color: #35404F;
}

.votally-cream{
  color: #F7EAC8;
}

.votally-back-red{
  background-color: #DB3340;
}

.votally-back-green{
  background-color: #1FDA9A;
}

.votally-back-blue{
  background-color: #35404F;
}

.votally-back-cream{
  background-color: #F7EAC8;
}

.bar-footer{
  height: 55px;
}


.shutter{
  font-size: 40px;
  color: #aaa;
}

.polaroid-container{
  background-color: #fff;
  height: 100%;
  padding: 8px;
}

.polaroid-border{
  border: none;
  padding: 8px;
}

.polaroid-pic{
  background-color: #000;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.polaroid-pic > img{
  width: 100%;
}

.polaroid-text{
  width: 100%;
  border: none;
  padding: 4px 0 4px 6px;
}

*:focus{
    outline-style: none;
    outline: none;
}

#myImage{
  width: 100%;
}

/*============FOR PENDING VIEW TEMPLATE=============*/

.senderName{
  text-align: center;
  margin: 20px;
  padding: 10px;
  height: 34px;
  font-size: 30px;
}

.pendigPolaroid{
  margin: 30px;
}

#pending-skip{
  font-family: 'Josefin Sans', sans-serif;
}

.pending-button{
  font-family: 'Josefin Sans', sans-serif !important;
  font-weight: bold !important;
}

.no-button{
  color: #DB3340 !important;
}

.yes-button{
  color: #1FDA9A !important;
}

/*============FOR RECEIVERS VIEW TEMPLATE=============*/
.selected {
  background-color: #000;
  color: #fff;
}

/*============FOR SIGNUP VIEW TEMPLATE=============*/
.input-label {
  padding-left: 5px;
}

.error {
  color: red;
  padding-left: 15px;
}

/*============FOR RESULTS VIEW TEMPLATE=============*/

a img {
  border: 1px solid #BBB;
  padding: 2px;
  margin: 10px 20px 10px 0;
  vertical-align: top;
}

a img.last {
  margin-right: 0;  
}

.polaroid_box {
  margin:20px 0 0px 25px;
}

ul.polaroids {
  /*width: 95%;*/
  margin: 0px 0px 18px 0px;
  /*float: left;*/
  list-style: none;
  padding: 20px;
}
li.polaroids {
  display: block;
}
.polaroids a {
  background: #fff;
  display: block;
  float: left;
  margin: 0 0 27px 30px;
  width: auto;
  padding: 10px 10px 15px;
  text-align: center;
  font-family: "Marker Felt", sans-serif;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -webkit-transform: rotate(-2deg);
  -webkit-transition: -webkit-transform .15s linear;
  -moz-transform: rotate(-2deg);
}
.polaroids img {
  display: block;
  height: 110px;
  width: 120px;
  margin: 10px 10px 10px 0px;
}
/*.polaroids img.small {
  height: 100px;
  width: 100px;
}*/

.polaroids a:after {
  content: attr(title);
}

.polaroids li:nth-child(even) a {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}
.polaroids li:nth-child(3n) a {
  -webkit-transform: none;
  position: relative;
  top: -5px;
  -moz-transform: none;
}
.polaroids li:nth-child(5n) a {
  -webkit-transform: rotate(5deg);
  position: relative;
  right: 5px;
  -moz-transform: rotate(5deg);
}
.polaroids li:nth-child(8n) a {
  position: relative;
  right: 5px;
  top: 8px;
}
.polaroids li:nth-child(11n) a {
  position: relative;
  left: -5px;
  top: 3px;
}

li.polaroids  a:hover{
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  position: relative;
  z-index: 5;
}

.polaroidframe {
  clear:left ;
  height: 300px;
  width: 300px;
  position: relative;
  float:left;

}

.yesnocontainer {
  width: 300px;
  height: 300px;
  display: inline-block;
  /*background-color: blue;*/
  float:left;
  margin: 0px 0px 0px 0px;
  position: relative;
  clear: right;

}

.yesnostamp{
  width: 300px;
  height: 150px;
  display: block;
  /*background-color: orange;*/
  position: absolute;
  bottom: 0;
}

.stamp{
  position: absolute;
  top: 20px;
  left: 95px;
}
.yesnobargraph{
  width: 300px;
  height: 150px
  display: block;
  position: relative;
  top: 150px;
  left: 80px;
}
.yesnobaraxis {
  width: 150px;
  height: 3px;
  background-color: black;
  position: absolute;
  bottom: 4px;
}


.yesnobargraph ul {
  margin: 0px 0px 0px 0px;
  list-style: none;
  position: absolute;
  bottom: 0;
}

.yesnobargraph li {
  display: inline-block;
  position: relative;
}

.yesnobar {
  margin: 0px 0px 0px 0px;
  width: auto;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  color: #333;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  position: absolute;
  bottom: 0px;
}

.yesbar{
  width: 65px;
  background-color: green;
  position: relative;
}

.nobar{
  width: 65px;
  background-color: red;
  position: relative;
  left: 70px;
}



/*============FOR SETTINGS VIEW=============*/

.highlight {
  background-color: #888;
  color: #fff;
  font-weight: bold;
}
.settings {
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 30px;
  background-color: #f5f5f5;
  color: #222;
  font-weight: bold;
}

/*============FOR ADD FRIENDS VIEW=============*/
.friend-request {
  padding-right: 12px;
}


/*.inline-button {
  float: left;
  clear: both;
}*/

